* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: rgba(203, 231, 229, 0.212);
  border: 2px solid blueviolet;
  border-radius: 14px;
  padding: 1rem;
  .container {
    width: 50vh;
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    color: #472020;
    font-weight: 600;
  }
  .outputContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
      border: 2px solid #0000008a;
      border-radius: 14px;
      color: blue;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      height: 2.4rem;
      letter-spacing: 1px;
      margin-bottom: 1rem;
      width: 5rem;
    }
    p {
      color: blue;
      font-size: 1rem;
    }
  }
}
