<h1> Welcom to {{title}}</h1>
<app-tasks></app-tasks>

<h4>List of Contacts</h4>

<button (click)="readMe()">Click Me</button>

<div *ngIf="showMsg; else showElseMsg"> Show Message If ngIf is true</div>

<ng-template #showElseMsg>Show Else Message</ng-template>

<div [ngSwitch]="switchValue">
    <div [ngStyle]="{'color': colorVal, 'background-color': bgColorVal}" *ngSwitchCase="1">Value passed is : 1</div>
    <div *ngSwitchCase="2">Value passed is : 2</div>
    <div *ngSwitchCase="3">Value passed is : 3</div>
    <div *ngSwitchCase="4">Value passed is : 4</div>
    <div *ngSwitchCase="5">Value passed is : 5</div>
    <div *ngSwitchDefault>Value passed is : default value</div>
</div>

<table>
    <tr>
        <th>UserId</th>
        <th>UserName</th>
        <th>Index</th>
        <th>First</th>
        <th>Last</th>
        <th>Even</th>
        <th>Odd</th>
    </tr>
    <tr *ngFor="let ele of users; index as i;first as f; last as l;even as e; odd as o">
        <td>{{ele.userId}}</td>
        <td>{{ele.userName}}</td>
        <td>{{i}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
    </tr>
</table>


<router-outlet></router-outlet>